<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <ul>
      <% @movies.each do |movie| %>
        <li><a href = "/movies/<%=movie[:id]%>"> <%="#{movie[:title]}"%></a></li>
      <%end%>
    </ul>
   <a href="/movie?page=<%= @page_num - 1%>">Back</a> <a href="/movie?page=<%= @page_num + 1%>">Next</a>
  </body>
</html>
